.finish{
   background-image: url('../images/finish.webp');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100vw;
   position: relative;
   height: 117vw;
   &__video{
      position: absolute;
      background-color: lightgrey;
      left: 32%;
      top:20vw;
      height: 63.5vw;
      width: 35vw;
      z-index: -1;


      object-fit: cover;
      
   }
}