.first-date{
   position: relative;       
   font-family: 'FFGoodPro';
   font-weight: 200;
   text-align: center;
   padding-bottom: 4vw;
   background-image: url('../images/first-date.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100vw;
   
   height: 45vw;
  




   &__img{
      position: absolute;
      object-fit: cover;
      background-color:lightgrey;
      
      
      &:first-child{
         position: absolute;
         z-index: -1;
         top: 12.3vw;
         left: 14.5%;
         width: 35.3%;
         height: 30vw;
         transform: rotate(-8deg);
         
         clip-path: polygon(
         0% 0%,
         70% 0%,
         85% 4.8%,
         93% 12%,
         98.7% 23%,
         98% 38%,      /* первая добавленная точка */
         97% 41%,      /* вторая д  обавленная точка */
         94% 51%,
         85% 64%,
         70% 81%,
         64% 100%,
         0% 100%
         );
         @media (max-width: 768px){
            left: 13.5%;
            top: 25%;
            width: 36.2%;
            clip-path: polygon(
            0% 0%,
            70% 0%,
            85% 4.8%,
            93% 12%,
            98.7% 26%,
            98% 38%,      /* первая добавленная точка */
            97% 38%,      /* вторая д  обавленная точка */
            94% 49%,
            85% 63%,
            70% 81%,
            64% 100%,
            0% 100%
            );
         }
         @media (max-width: 375px){
            width: 36.4%;
            top: 13.5;
         }
         
      }
      &:last-child{
         z-index: -2;
         position: absolute;
         margin-top: 4vw; 
         margin-left: -10%;
         width: 40vw;
         height: 38.7vw;

         @media (max-width: 375px){
            width: 42%;
         }
      }
      
   }


   
   &__hearts-container{
      position: absolute;
      z-index: 1;
      
      height: 100vw;
      width: 100vw;
      bottom: 0;
         
   }
}

.heart {
   
   position: absolute;
   bottom: 0;
   font-size: 24px;
   animation: floatUp linear forwards;
   user-select: none;
   color: #ff4d4d;
   width: 10px;
   height: 10px;
}

@keyframes floatUp {
   0% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(-30vw);
      opacity: 0;
   }
}